<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zme_cbr.kallkullatorr" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeometryActivity"
            android:label="@string/title_activity_geometry" >
        </activity>
        <activity
            android:name=".kwadrat.KwadratActivity"
            android:label="@string/title_activity_kwadrat" >
        </activity>
        <activity
            android:name=".TrojkatActivity"
            android:label="@string/title_activity_trojkat" >
        </activity>
        <activity
            android:name=".TrapezActivity"
            android:label="@string/title_activity_trapez" >
        </activity>
        <activity
            android:name=".kolo.KoloActivity"
            android:label="@string/title_activity_kolo" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".kolo.wzory_kolo"
            android:label="@string/title_activity_wzory_kolo" >
        </activity>
        <activity
            android:name=".kolo.kolo_pole"
            android:label="@string/title_activity_kolo_pole" >
        </activity>
        <activity
            android:name=".kwadrat.kwadrat_wzory"
            android:label="@string/title_activity_kwadrat_wzory" >
        </activity>
        <activity
            android:name=".kwadrat.kwadrat_polea"
            android:label="@string/title_activity_kwadrat_polea" >
        </activity>
        <activity
            android:name=".kwadrat.kwadrat_poled"
            android:label="@string/title_activity_kwadrat_poled" />
        <activity
            android:name=".kwadrat.kwadrat_polead"
            android:label="@string/title_activity_kwadrat_polead" />
        <activity
            android:name=".kwadrat.kwadrat_pr_ok_wpi"
            android:label="@string/title_activity_kwadrat_pr_ok_wpi" />
        <activity
            android:name=".kwadrat.kwadrat_pr_ok_opia"
            android:label="@string/title_activity_kwadrat_pr_ok_opia" />
        <activity
            android:name=".kwadrat.kwadrat_pr_ok_opir"
            android:label="@string/title_activity_kwadrat_pr_ok_opir" />
        <activity
            android:name=".kwadrat.kwadrat_pr_ok_opid"
            android:label="@string/title_activity_kwadrat_pr_ok_opid" />
        <activity
            android:name=".kwadrat.kwadrat_dlu_bokr"
            android:label="@string/title_activity_kwadrat_dlu_bokr" />
        <activity
            android:name=".kwadrat.kwadrat_dlu_bokrr"
            android:label="@string/title_activity_kwadrat_dlu_bokrr" />
        <activity
            android:name=".kwadrat.kwadrat_dlu_bokd"
            android:label="@string/title_activity_kwadrat_dlu_bokd" />
        <activity
            android:name=".kwadrat.kwadrat_przek"
            android:label="@string/title_activity_kwadrat_przek" />
        <activity
            android:name=".kwadrat.kwadrat_obwod"
            android:label="@string/title_activity_kwadrat_obwod" />
        <activity
            android:name=".kolo.kolo_obwod"
            android:label="@string/title_activity_kolo_obwod" />
        <activity
            android:name=".kolo.kolo_pol_wyca"
            android:label="@string/title_activity_kolo_pol_wyca" />
        <activity
            android:name=".kolo.kolo_pol_wycg"
            android:label="@string/title_activity_kolo_pol_wycg" />
        <activity
            android:name=".kolo.kolo_pol_odca"
            android:label="@string/title_activity_kolo_pol_odca" />
        <activity
            android:name=".kolo.kolo_pol_odcg"
            android:label="@string/title_activity_kolo_pol_odcg" />
        <activity
            android:name=".kolo.kolo_dl_luka"
            android:label="@string/title_activity_kolo_dl_luka"></activity>
        <activity
            android:name=".kolo.kolo_dl_lukg"
            android:label="@string/title_activity_kolo_dl_lukg"></activity>
    </application>

</manifest>
